################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TrainManager/.vs/TrainManager
/TrainManager/TrainManager.ConApp/obj
